@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@700&display=swap');

/* 'Open Sans'  "Oswald" */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* tags gerais */

.bar{
    width: 168px;
    height: 22px;
    background-color: #006341;
    margin-top: 55px;
}
h2{
    font-family: "Oswald", arial;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    margin-top: 11px;
}
.button{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #454545;
    color: #454545;
    padding: 10px 40px;
    font-family: 'Open Sans', arial;
    font-size: 16px;
    margin: 55px 0px;
}
.button:hover{
    background-color: #454545;
    color: #fff;
}

/* fim das tads gerais */

.line-top{
    height: 10px;
    background-color: #117050;
}
.head--geral{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-top img{
    width: 64px;
    height: 64px;
}
.search-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-menu input{
    max-width: 230px;
    height: 36px;
    font-size: 16px;
    padding: 12px;
    border: 0;
    font-family:'Open Sans', arial  ;
}
input::placeholder{
    color: #AEAEAE;
}
.search-menu button img{
    width: 16px;
    height: 16px;
}
.search-menu button{
    border: 0;
    width: 36px;
    height: 36px;
    background-color: #fff;
}
form{
    display: flex;
    justify-content: center;
    border: 1px solid #B3B3B3;
}
.menu{
    margin-left: 50px;
}
.menu img{
    width: 24px;
    height: 24px;
}

/* banner principal */

.banner{
    background-image: url("/asstes/imgem/bg.jpg");
    background-position: center;
    background-size: cover;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 80px;
    padding-left: 25px;
}
.banner h1{
    font-family:"Oswald", arial ;
    font-size: 96px;
    line-height: 1.1;
}
.banner span{
    display: inline-block;
    margin: 30px 0px;
    font-family:'Open Sans', arial;
}
.banner--img{
    margin-top: 20px;
}
.banner--img img{
    width: 160px;
    height: 160px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin: 24px 20px;
}

/* Inicio das areas */

.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 2fr;
}
.area1--content{
    grid-area: 1 / 1 / 2 / 2;
}
.card--area1{
    width: 490px;
    margin-left: 250px;
    padding-bottom: 50px;
}
.area1--content span{
    display: inline-block;
    margin-top: 20px;
    font-family: 'Open Sans', arial;
    font-style: italic;
    font-weight: normal;
}
.area1--text{
    font-family: 'Open Sans', arial;
    margin-top: 30px;
    margin-right: 30px;
    font-weight: normal;
    line-height:1.6;
}
.area1--img1{
   background-image: url("/asstes/imgem/f1.jpg");
   background-position: center;
   background-size: cover;
   grid-area: 1 / 2 / 3 / 3;
    
}
.area1--img2{
    background-image: url("/asstes/imgem/f2.jpg");
    background-position: center;
    background-size:cover; 
    grid-area: 2 / 1 / 3 / 2;
}


.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7fr 6fr;
}
.area2--content{
    grid-area: 1 / 2 / 2 / 3;
}
.card--area2{
    width: 490px;
    margin-left: 250px;
    padding-bottom: 50px;
}

.area2--text{
    font-family: 'Open Sans', arial;
    margin-top: 30px;
    margin-right: 30px;
    font-weight: normal;
    line-height:1.6;
}
.area2--img1{
   background-image: url("/asstes/imgem/f3.jpg");
   background-position: center;
   background-size: cover;
   grid-area: 1 / 1 / 3 / 2;
    
}
.area2--img2{
    background-image: url("/asstes/imgem/f4.jpg");
    background-position: center;
    background-size:cover; 
    grid-area: 2 / 2 / 3 / 3;
}

.area3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.area3--content{
    background-image: url("../imgem/bg2.jpg");
    background-position: left;
    background-size: cover;
}
.area3--card{
    padding: 245px 50px 245px 350px;
}

.area3--text{
    margin-top: 20px;
    font-family: 'Open Sans', arial;
}
.area3--img1{
    background-image: url("../imgem/f5.jpg");
    background-position: center;
    background-size: cover;
}

.area4{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.area4--content{
    background-color: #E8E9EE;
}
.card--area4{
    padding: 100px 50px 200px 250px;
}
.area4--text{
    font-family: 'Open Sans', arial;
    margin-top: 30px;
    line-height: 1.6;
}
.area4--img1{
    background-image: url("../imgem/bg3.jpg");
    background-position: left;
    background-size: cover;
}
.area5{
    display: flex;
    justify-content: center;
    background-color:#E8E9EE ;
    width: 100%;
}
.area5 img{
   width: 60%;
}
footer{
    background-color: #333333;
 
    
}
footer div{
    height: 125px;
    text-align: center;
    padding-top: 70px;
    color: #fff;
    font-family: 'Open Sans', arial;
    font-size: 14px;
}
footer div a{
    color: #a8f8dd;
    font-family: 'Open Sans', arial;
    font-size: 14px;
}
footer div a:hover{
    color: #fff;
    text-decoration: none;
}

@media(min-width: 768px) and (max-width: 1024px){
    .head--geral{
        padding: 0px 20px;
    }
    .card--area1{
        margin-left: 30px;
    }
    .area1--text{
        margin-right:10px
    }
    
    .area3--card{
        padding: 245px 4px 245px 50px
    }

    .area4{
        grid-template-columns: 2fr 2fr;
    }
    .card--area4{
        padding: 100px 50px 200px 50px
    }
}

@media (min-width:320px) and (max-width:520px){
    h2{
        font-size: 25px;
    }
    .head--geral{
        padding: 0px 20px;
    }
    .search-menu input{
        max-width: 100px;
    }
    .menu{
        margin-left: 10px;
    }

    .banner h1{
        font-size: 55px;
    }
    .banner span{
        font-size: 14px;
        padding-right: 20px;
    }
    .banner--img img{
        width: 70px;
        height: 70px;
        border: 2px solid #117050;
        margin: 10px 3px
    }
    .area1,
    .area2,
    .area3{
        grid-template-columns: 1fr;
    }
    .card--area1,
    .area3--card,
    .card--area4{
        margin-left: 10px;
        width: 95%;
        padding: 0;
    }
    .area1--content span{
        font-size: 14px;
    }
    .area1--text,
    .area2--text,
    .area3--text,
    .area4--text{
        font-size: 14px;
    }
    .area2{
        grid-template-rows: 7fr 2fr;
    }
    .area3--text{
        margin-right: 20px;
    }
    .area4--img1{
        background-position: center;
    }
    .area5 img{
        width: 100%;
    }
    footer div{
        height: 30px;
        padding: 10px;
        font-size: 12px;
    }
    footer div a{
        font-size: 12px;
    }

    /* fimm */
}
