@charset "UTF-8";

.balao {
    background-color: blue;
    display: inline-block;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.balao::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 20px;

    border: 20px solid;
    border-color: blue transparent transparent transparent;
}